<font size="5"><center> <b>Sandpyper: sandy beaches SfM-UAV analysis tools</b></center></font>
<font size="4"><center> <b> Example 2 - Sand labelling </b></center> <br>

    
<center><img src="images/banner.png" width="80%"  /></center>

<font face="Calibri">
<br>
<font size="5"> <b>Sand clustering with Silhouette Analysis and KMeans notebook</b></font>

<br>
<font size="4"> <b> Nicolas Pucino; PhD Student @ Deakin University, Australia </b> <br>

<font size="3">This notebook illustrates how to use Sandpyper to perform Silhouette Analysis and KMeans on all previously extracted points. <br>

<b>This notebook covers the following concepts:</b>

- Silhouete Analysis.
- KMeans clustering.
</font>


</font>

In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np

from sandpyper.outils import coords_to_points 
from sandpyper.labels import get_sil_location, get_opt_k, kmeans_sa

pd.options.mode.chained_assignment = None  # default='warn'

Loading the project-related lists

- loc codes
- crs dict string

In [2]:
# The location codes used troughout the analysis
loc_codes=["mar","leo"]

# The Coordinate Reference Systems used troughout this study
crs_dict_string= {
                 'mar': {'init': 'epsg:32754'},
                 'leo': {'init': 'epsg:32755'},
                 }

## Loading, merging and preparing the tables

The function __get_merged_table__ merge the rgb and z tables together and format it in a way it is digestible for further analysis.

In [3]:
%%time

#Loading the tables

rgb_table_path=r"C:\my_packages\doc_data\profiles\rgb.csv"
z_table_path=r"C:\my_packages\doc_data\profiles\elevation.csv"

rgb_table=gpd.read_file(rgb_table_path)
z_table=gpd.read_file(z_table_path)

# As the distance (across-transect) comes from an interpolation, it has too many digits.
# let's round both tables distance columns to 2 significant values and assign their data type as "float".

rgb_table["distance"]=np.round(rgb_table.loc[:,"distance"].values.astype("float"),2)
z_table["distance"]=np.round(z_table.loc[:,"distance"].values.astype("float"),2)

C:\conda3\envs\sandpyper_env\lib\site-packages\geopandas\geodataframe.py:422: RuntimeWarning: Sequential read of iterator was interrupted. Resetting iterator. This can negatively impact the performance.
  for feature in features_lst:

Wall time: 53.6 s

Storing Geodataframes as CSV is handy, but __we lose the column data type information__.
Especially important is the __geometry column__, which we need to convert back into __Shapely Point object format__.
To do that, the function __coords_to_points__ can be used across a Series ('geometry'). It can take quite a bit of time, so, if you have a lot of points, get ready!

In [4]:
rgb_table['geometry']=rgb_table.coordinates.apply(coords_to_points)
z_table['geometry']=z_table.coordinates.apply(coords_to_points)

z_table.head()

,distance,z,tr_id,raw_date,coordinates,location,survey_date,point_id,x,y,geometry
0,0.0,-0.00419507035985589,21,20190516,POINT (731646.903760184 5705523.468988597),mar,2019-05-16,61121091m2580400ar00,731646.903760184,5705523.468988597,POINT (731646.904 5705523.469)
1,0.1,-0.004195598419755697,21,20190516,POINT (731646.8212142694 5705523.525434784),mar,2019-05-16,61126091m2590410ar00,731646.8212142694,5705523.525434784,POINT (731646.821 5705523.525)
2,0.2,-0.0041948105208575726,21,20190516,POINT (731646.7386683549 5705523.581880971),mar,2019-05-16,61125091m2540920ar00,731646.7386683549,5705523.581880971,POINT (731646.739 5705523.582)
3,0.3,-0.00419514998793602,21,20190516,POINT (731646.6561224404 5705523.638327157),mar,2019-05-16,61124091m2500430ar00,731646.6561224404,5705523.638327157,POINT (731646.656 5705523.638)
4,0.4,-0.004195665940642357,21,20190516,POINT (731646.5735765258 5705523.694773344),mar,2019-05-16,61122091m2550840ar00,731646.5735765258,5705523.694773344,POINT (731646.574 5705523.695)

In [5]:
# Here, we merge the two tables (storing elevation and rgb information)

data_merged = pd.merge(z_table,rgb_table[["band1","band2","band3","point_id"]],on="point_id",validate="one_to_one")

# replace empty values with np.NaN
data_merged=data_merged.replace("", np.NaN)

# and convert the z column into floats.
data_merged['z']=data_merged.z.astype("float")

data_merged.head()

,distance,z,tr_id,raw_date,coordinates,location,survey_date,point_id,x,y,geometry,band1,band2,band3
0,0.0,-0.004195,21,20190516,POINT (731646.903760184 5705523.468988597),mar,2019-05-16,61121091m2580400ar00,731646.903760184,5705523.468988597,POINT (731646.904 5705523.469),110.0,131.0,119.0
1,0.1,-0.004196,21,20190516,POINT (731646.8212142694 5705523.525434784),mar,2019-05-16,61126091m2590410ar00,731646.8212142694,5705523.525434784,POINT (731646.821 5705523.525),124.0,145.0,133.0
2,0.2,-0.004195,21,20190516,POINT (731646.7386683549 5705523.581880971),mar,2019-05-16,61125091m2540920ar00,731646.7386683549,5705523.581880971,POINT (731646.739 5705523.582),113.0,133.0,121.0
3,0.3,-0.004195,21,20190516,POINT (731646.6561224404 5705523.638327157),mar,2019-05-16,61124091m2500430ar00,731646.6561224404,5705523.638327157,POINT (731646.656 5705523.638),124.0,143.0,132.0
4,0.4,-0.004196,21,20190516,POINT (731646.5735765258 5705523.694773344),mar,2019-05-16,61122091m2550840ar00,731646.5735765258,5705523.694773344,POINT (731646.574 5705523.695),117.0,137.0,125.0

In [6]:
# Here, we add two features, slope and curvature, computed from the elevation series,
# in case we wnat to use for KMeans clustering.
# Note that when passing from one transect to another, slope and curvature computations are wrong.
# However, we will clip those areas as they are in the water or in the backdune.

data_merged["slope"]=np.gradient(data_merged.z)
data_merged["curve"]=np.gradient(data_merged.slope)

data_merged.head()

,distance,z,tr_id,raw_date,coordinates,location,survey_date,point_id,x,y,geometry,band1,band2,band3,slope,curve
0,0.0,-0.004195,21,20190516,POINT (731646.903760184 5705523.468988597),mar,2019-05-16,61121091m2580400ar00,731646.903760184,5705523.468988597,POINT (731646.904 5705523.469),110.0,131.0,119.0,-5.280599e-07,6.579794e-07
1,0.1,-0.004196,21,20190516,POINT (731646.8212142694 5705523.525434784),mar,2019-05-16,61126091m2590410ar00,731646.8212142694,5705523.525434784,POINT (731646.821 5705523.525),124.0,145.0,133.0,1.299195e-07,3.761379e-07
2,0.2,-0.004195,21,20190516,POINT (731646.7386683549 5705523.581880971),mar,2019-05-16,61125091m2540920ar00,731646.7386683549,5705523.581880971,POINT (731646.739 5705523.582),113.0,133.0,121.0,2.242159e-07,-2.788147e-07
3,0.3,-0.004195,21,20190516,POINT (731646.6561224404 5705523.638327157),mar,2019-05-16,61124091m2500430ar00,731646.6561224404,5705523.638327157,POINT (731646.656 5705523.638),124.0,143.0,132.0,-4.277099e-07,-2.410961e-07
4,0.4,-0.004196,21,20190516,POINT (731646.5735765258 5705523.694773344),mar,2019-05-16,61122091m2550840ar00,731646.5735765258,5705523.694773344,POINT (731646.574 5705523.695),117.0,137.0,125.0,-2.579764e-07,-4.051253e-08

In [7]:
# Our rasters have NaN values set to -32767.0. Thus, we replace them with np.Nan.
data_merged.z.replace(-32767.0,np.nan,inplace=True)

## Iterative silhouette analysis


The __get_sil_location__ function will iteratively perform KMeans clustering and Silhouette Analysis with increasing number of clusters (k, specified in the `ks` parameter) for every survey, using the feature set specified in the parameter `feature_set`.

This will return a dataframe with Average Silhouette scores with different k for all surveys, which we use to find sub-optimal number of clusters with __get_opt_k__ function.

Then, with the sub-optimal k, we finally run KMeans with __kmeans_sa__ function on all the surveys to obtain clustered points to visually discriminate between sand and non-sand in a Qgis environment.

In [8]:
%%time
# Run interatively KMeans + SA

feature_set=["band1","band2","band3"]
sil_df=get_sil_location(data_merged,
                        ks=(2,30), 
                        feature_set=feature_set,
                       random_state=10)

  0%|          | 0/2 [00:00<?, ?it/s]

  0%|          | 0/9 [00:00<?, ?it/s]

Working on : mar, 2019-05-16.

  0%|          | 0/28 [00:00<?, ?it/s]

For n_clusters = 2 The average silhouette_score is : 0.6862075501506316
For n_clusters = 3 The average silhouette_score is : 0.513965444380363
For n_clusters = 4 The average silhouette_score is : 0.5428028774353153
For n_clusters = 5 The average silhouette_score is : 0.5083834521453034
For n_clusters = 6 The average silhouette_score is : 0.47467070127521116
For n_clusters = 7 The average silhouette_score is : 0.465572322824415
For n_clusters = 8 The average silhouette_score is : 0.4364300120091992
For n_clusters = 9 The average silhouette_score is : 0.44206467829932033
For n_clusters = 10 The average silhouette_score is : 0.41485117577947894
For n_clusters = 11 The average silhouette_score is : 0.41251112197505874
For n_clusters = 12 The average silhouette_score is : 0.3962539435788235
For n_clusters = 13 The average silhouette_score is : 0.41004443532804863
For n_clusters = 14 The average silhouette_score is : 0.4143684457737213
For n_clusters = 15 The average silhouette_score is : 0.41233898556164944
For n_clusters = 16 The average silhouette_score is : 0.3935337795000377
For n_clusters = 17 The average silhouette_score is : 0.38483451559726545
For n_clusters = 18 The average silhouette_score is : 0.3748985561157502
For n_clusters = 19 The average silhouette_score is : 0.36947469041892783
For n_clusters = 20 The average silhouette_score is : 0.3736090785018159
For n_clusters = 21 The average silhouette_score is : 0.37735897849610267
For n_clusters = 22 The average silhouette_score is : 0.36565575197603656
For n_clusters = 23 The average silhouette_score is : 0.3727435476974753
For n_clusters = 24 The average silhouette_score is : 0.36930296027456055
For n_clusters = 25 The average silhouette_score is : 0.37080980368228494
For n_clusters = 26 The average silhouette_score is : 0.3735035492724989
For n_clusters = 27 The average silhouette_score is : 0.3523617530603995
For n_clusters = 28 The average silhouette_score is : 0.36751516076433366
For n_clusters = 29 The average silhouette_score is : 0.3533740588056932
Working on : mar, 2019-03-13.

  0%|          | 0/28 [00:00<?, ?it/s]

For n_clusters = 2 The average silhouette_score is : 0.6170867984187076
For n_clusters = 3 The average silhouette_score is : 0.5142944562633687
For n_clusters = 4 The average silhouette_score is : 0.5195153673762395
For n_clusters = 5 The average silhouette_score is : 0.47126418883658083
For n_clusters = 6 The average silhouette_score is : 0.465070736254574
For n_clusters = 7 The average silhouette_score is : 0.43477801971798896
For n_clusters = 8 The average silhouette_score is : 0.4175784024938606
For n_clusters = 9 The average silhouette_score is : 0.40440453681363747
For n_clusters = 10 The average silhouette_score is : 0.39952388915266024
For n_clusters = 11 The average silhouette_score is : 0.39487531935869014
For n_clusters = 12 The average silhouette_score is : 0.38658389129783677
For n_clusters = 13 The average silhouette_score is : 0.38709288253414315
For n_clusters = 14 The average silhouette_score is : 0.3696316187549434
For n_clusters = 15 The average silhouette_score is : 0.3951898094557506
For n_clusters = 16 The average silhouette_score is : 0.37299608527751543
For n_clusters = 17 The average silhouette_score is : 0.3770700894766363
For n_clusters = 18 The average silhouette_score is : 0.3613807838749929
For n_clusters = 19 The average silhouette_score is : 0.36315159303276096
For n_clusters = 20 The average silhouette_score is : 0.36849932854527273
For n_clusters = 21 The average silhouette_score is : 0.37200261943545426
For n_clusters = 22 The average silhouette_score is : 0.35688975363664716
For n_clusters = 23 The average silhouette_score is : 0.3572312315559716
For n_clusters = 24 The average silhouette_score is : 0.35361425827985943
For n_clusters = 25 The average silhouette_score is : 0.3574992147154818
For n_clusters = 26 The average silhouette_score is : 0.35522537446017804
For n_clusters = 27 The average silhouette_score is : 0.3606909052437971
For n_clusters = 28 The average silhouette_score is : 0.3583456307807083
For n_clusters = 29 The average silhouette_score is : 0.3458995257535087
Working on : mar, 2019-02-05.

  0%|          | 0/28 [00:00<?, ?it/s]

For n_clusters = 2 The average silhouette_score is : 0.6430665563715819
For n_clusters = 3 The average silhouette_score is : 0.540039551346565
For n_clusters = 4 The average silhouette_score is : 0.5131406007273728
For n_clusters = 5 The average silhouette_score is : 0.4823729912655783
For n_clusters = 6 The average silhouette_score is : 0.44326176339783124
For n_clusters = 7 The average silhouette_score is : 0.4430877286284131
For n_clusters = 8 The average silhouette_score is : 0.42034826101945183
For n_clusters = 9 The average silhouette_score is : 0.4080092826522824
For n_clusters = 10 The average silhouette_score is : 0.38283631423484177
For n_clusters = 11 The average silhouette_score is : 0.39722587925891
For n_clusters = 12 The average silhouette_score is : 0.38979063459562935
For n_clusters = 13 The average silhouette_score is : 0.39812841463089454
For n_clusters = 14 The average silhouette_score is : 0.38572229388337054
For n_clusters = 15 The average silhouette_score is : 0.3903898167628041
For n_clusters = 16 The average silhouette_score is : 0.37349993685590155
For n_clusters = 17 The average silhouette_score is : 0.38354218011178437
For n_clusters = 18 The average silhouette_score is : 0.38676746993119027
For n_clusters = 19 The average silhouette_score is : 0.38367125158392124
For n_clusters = 20 The average silhouette_score is : 0.391622447990845
For n_clusters = 21 The average silhouette_score is : 0.37761872248086137
For n_clusters = 22 The average silhouette_score is : 0.3764731300531481
For n_clusters = 23 The average silhouette_score is : 0.36787663548301014
For n_clusters = 24 The average silhouette_score is : 0.36735541603301514
For n_clusters = 25 The average silhouette_score is : 0.35551947837131026
For n_clusters = 26 The average silhouette_score is : 0.36486093232816513
For n_clusters = 27 The average silhouette_score is : 0.35217464288176775
For n_clusters = 28 The average silhouette_score is : 0.35297685959958996
For n_clusters = 29 The average silhouette_score is : 0.34455524892016304
Working on : mar, 2018-12-11.

  0%|          | 0/28 [00:00<?, ?it/s]

For n_clusters = 2 The average silhouette_score is : 0.5630097229928264
For n_clusters = 3 The average silhouette_score is : 0.5212375993013656
For n_clusters = 4 The average silhouette_score is : 0.515813102750951
For n_clusters = 5 The average silhouette_score is : 0.48753135114687446
For n_clusters = 6 The average silhouette_score is : 0.44070920054583995
For n_clusters = 7 The average silhouette_score is : 0.4153087651471306
For n_clusters = 8 The average silhouette_score is : 0.4015114960444891
For n_clusters = 9 The average silhouette_score is : 0.38862800052782553
For n_clusters = 10 The average silhouette_score is : 0.3774256997879442
For n_clusters = 11 The average silhouette_score is : 0.3546759907264308
For n_clusters = 12 The average silhouette_score is : 0.370541646606475
For n_clusters = 13 The average silhouette_score is : 0.35309092574367906
For n_clusters = 14 The average silhouette_score is : 0.37434755814504844
For n_clusters = 15 The average silhouette_score is : 0.36783169378208697
For n_clusters = 16 The average silhouette_score is : 0.36662673864613676
For n_clusters = 17 The average silhouette_score is : 0.36405590689529055
For n_clusters = 18 The average silhouette_score is : 0.36050208715650217
For n_clusters = 19 The average silhouette_score is : 0.35493370879882546
For n_clusters = 20 The average silhouette_score is : 0.3610761444387414
For n_clusters = 21 The average silhouette_score is : 0.3495562983700115
For n_clusters = 22 The average silhouette_score is : 0.3461640464883765
For n_clusters = 23 The average silhouette_score is : 0.33705537261169993
For n_clusters = 24 The average silhouette_score is : 0.33624258934996953
For n_clusters = 25 The average silhouette_score is : 0.3363584315592351
For n_clusters = 26 The average silhouette_score is : 0.33133788396517766
For n_clusters = 27 The average silhouette_score is : 0.3272304426065525
For n_clusters = 28 The average silhouette_score is : 0.3158834974548302
For n_clusters = 29 The average silhouette_score is : 0.3193497996644717
Working on : mar, 2018-11-13.

  0%|          | 0/28 [00:00<?, ?it/s]

For n_clusters = 2 The average silhouette_score is : 0.5960483359838735
For n_clusters = 3 The average silhouette_score is : 0.5041751378059506
For n_clusters = 4 The average silhouette_score is : 0.5159081118620653
For n_clusters = 5 The average silhouette_score is : 0.4489234699169147
For n_clusters = 6 The average silhouette_score is : 0.4270668438861502
For n_clusters = 7 The average silhouette_score is : 0.4131069945187734
For n_clusters = 8 The average silhouette_score is : 0.41345300302916316
For n_clusters = 9 The average silhouette_score is : 0.4004290027534702
For n_clusters = 10 The average silhouette_score is : 0.39701403124493245
For n_clusters = 11 The average silhouette_score is : 0.4040245059489679
For n_clusters = 12 The average silhouette_score is : 0.39192378247864457
For n_clusters = 13 The average silhouette_score is : 0.3936816845507242
For n_clusters = 14 The average silhouette_score is : 0.3936020360388745
For n_clusters = 15 The average silhouette_score is : 0.3878089863142632
For n_clusters = 16 The average silhouette_score is : 0.3832863238912582
For n_clusters = 17 The average silhouette_score is : 0.3820590035013264
For n_clusters = 18 The average silhouette_score is : 0.3824888998019748
For n_clusters = 19 The average silhouette_score is : 0.37702768002083326
For n_clusters = 20 The average silhouette_score is : 0.381272351626801
For n_clusters = 21 The average silhouette_score is : 0.3785491610544815
For n_clusters = 22 The average silhouette_score is : 0.36222032964560114
For n_clusters = 23 The average silhouette_score is : 0.3584557538293359
For n_clusters = 24 The average silhouette_score is : 0.3595893687893889
For n_clusters = 25 The average silhouette_score is : 0.36229108910870017
For n_clusters = 26 The average silhouette_score is : 0.35954099428329706
For n_clusters = 27 The average silhouette_score is : 0.34901359297111345
For n_clusters = 28 The average silhouette_score is : 0.35510658515900767
For n_clusters = 29 The average silhouette_score is : 0.34824853799748695
Working on : mar, 2018-09-25.

  0%|          | 0/28 [00:00<?, ?it/s]

For n_clusters = 2 The average silhouette_score is : 0.5850268976114777
For n_clusters = 3 The average silhouette_score is : 0.49315265038659256
For n_clusters = 4 The average silhouette_score is : 0.48929570479528917
For n_clusters = 5 The average silhouette_score is : 0.46559444988644716
For n_clusters = 6 The average silhouette_score is : 0.4393599391404145
For n_clusters = 7 The average silhouette_score is : 0.42526360173099664
For n_clusters = 8 The average silhouette_score is : 0.39568582176959
For n_clusters = 9 The average silhouette_score is : 0.37132838162298826
For n_clusters = 10 The average silhouette_score is : 0.3612246555121027
For n_clusters = 11 The average silhouette_score is : 0.34867917063091836
For n_clusters = 12 The average silhouette_score is : 0.35258864437000526
For n_clusters = 13 The average silhouette_score is : 0.36597918644405864
For n_clusters = 14 The average silhouette_score is : 0.37134537967310943
For n_clusters = 15 The average silhouette_score is : 0.3681996209949026
For n_clusters = 16 The average silhouette_score is : 0.3713917402616884
For n_clusters = 17 The average silhouette_score is : 0.36962153197049125
For n_clusters = 18 The average silhouette_score is : 0.3678416823338286
For n_clusters = 19 The average silhouette_score is : 0.3663609603989668
For n_clusters = 20 The average silhouette_score is : 0.36405548840278407
For n_clusters = 21 The average silhouette_score is : 0.36505100488900466
For n_clusters = 22 The average silhouette_score is : 0.36589769077095197
For n_clusters = 23 The average silhouette_score is : 0.3551635119173418
For n_clusters = 24 The average silhouette_score is : 0.35403290631892936
For n_clusters = 25 The average silhouette_score is : 0.3455681968952032
For n_clusters = 26 The average silhouette_score is : 0.35685249759694504
For n_clusters = 27 The average silhouette_score is : 0.3419740600272358
For n_clusters = 28 The average silhouette_score is : 0.34617896731401665
For n_clusters = 29 The average silhouette_score is : 0.3369702088250418
Working on : mar, 2018-07-27.

  0%|          | 0/28 [00:00<?, ?it/s]

For n_clusters = 2 The average silhouette_score is : 0.5677145662920096
For n_clusters = 3 The average silhouette_score is : 0.48182655237293553
For n_clusters = 4 The average silhouette_score is : 0.42523725543229224
For n_clusters = 5 The average silhouette_score is : 0.3834221826431047
For n_clusters = 6 The average silhouette_score is : 0.40465753675032734
For n_clusters = 7 The average silhouette_score is : 0.37021218431083175
For n_clusters = 8 The average silhouette_score is : 0.37197001169108596
For n_clusters = 9 The average silhouette_score is : 0.3656554148141353
For n_clusters = 10 The average silhouette_score is : 0.35679455551789435
For n_clusters = 11 The average silhouette_score is : 0.3534434482651074
For n_clusters = 12 The average silhouette_score is : 0.35974696682495977
For n_clusters = 13 The average silhouette_score is : 0.3614984412200758
For n_clusters = 14 The average silhouette_score is : 0.35599229486107076
For n_clusters = 15 The average silhouette_score is : 0.35236237050040764
For n_clusters = 16 The average silhouette_score is : 0.3465181327222462
For n_clusters = 17 The average silhouette_score is : 0.3467220272847178
For n_clusters = 18 The average silhouette_score is : 0.3506342106944456
For n_clusters = 19 The average silhouette_score is : 0.3409299120076442
For n_clusters = 20 The average silhouette_score is : 0.3417533172761562
For n_clusters = 21 The average silhouette_score is : 0.3318653158736339
For n_clusters = 22 The average silhouette_score is : 0.3345950912889665
For n_clusters = 23 The average silhouette_score is : 0.32815842664845524
For n_clusters = 24 The average silhouette_score is : 0.33093382076000355
For n_clusters = 25 The average silhouette_score is : 0.3292382789959992
For n_clusters = 26 The average silhouette_score is : 0.3267361096288008
For n_clusters = 27 The average silhouette_score is : 0.3243260618926557
For n_clusters = 28 The average silhouette_score is : 0.3292822986034385
For n_clusters = 29 The average silhouette_score is : 0.3275032283073149
Working on : mar, 2018-06-21.

  0%|          | 0/28 [00:00<?, ?it/s]

For n_clusters = 2 The average silhouette_score is : 0.5899185922864892
For n_clusters = 3 The average silhouette_score is : 0.5030361512719422
For n_clusters = 4 The average silhouette_score is : 0.4690920099023971
For n_clusters = 5 The average silhouette_score is : 0.4295523520949522
For n_clusters = 6 The average silhouette_score is : 0.4085400116379133
For n_clusters = 7 The average silhouette_score is : 0.3863089140731913
For n_clusters = 8 The average silhouette_score is : 0.3885856913871781
For n_clusters = 9 The average silhouette_score is : 0.3847808822897427
For n_clusters = 10 The average silhouette_score is : 0.38179005393001697
For n_clusters = 11 The average silhouette_score is : 0.3726650417791217
For n_clusters = 12 The average silhouette_score is : 0.38476572079195365
For n_clusters = 13 The average silhouette_score is : 0.3910547209526152
For n_clusters = 14 The average silhouette_score is : 0.3855257121492227
For n_clusters = 15 The average silhouette_score is : 0.3778741813905077
For n_clusters = 16 The average silhouette_score is : 0.3812415544361009
For n_clusters = 17 The average silhouette_score is : 0.3798030108059324
For n_clusters = 18 The average silhouette_score is : 0.371954892161545
For n_clusters = 19 The average silhouette_score is : 0.36578570719937803
For n_clusters = 20 The average silhouette_score is : 0.36915292946767936
For n_clusters = 21 The average silhouette_score is : 0.36917833686962404
For n_clusters = 22 The average silhouette_score is : 0.35317323701677694
For n_clusters = 23 The average silhouette_score is : 0.36193845494872334
For n_clusters = 24 The average silhouette_score is : 0.35725820701048955
For n_clusters = 25 The average silhouette_score is : 0.35807123971159366
For n_clusters = 26 The average silhouette_score is : 0.3565877303151287
For n_clusters = 27 The average silhouette_score is : 0.35796227378011863
For n_clusters = 28 The average silhouette_score is : 0.3527534878526367
For n_clusters = 29 The average silhouette_score is : 0.34454025002220473
Working on : mar, 2018-06-01.

  0%|          | 0/28 [00:00<?, ?it/s]

For n_clusters = 2 The average silhouette_score is : 0.49802906322677315
For n_clusters = 3 The average silhouette_score is : 0.44517633936665313
For n_clusters = 4 The average silhouette_score is : 0.4127366590784887
For n_clusters = 5 The average silhouette_score is : 0.4026213761920998
For n_clusters = 6 The average silhouette_score is : 0.4224054523373244
For n_clusters = 7 The average silhouette_score is : 0.4091357659823786
For n_clusters = 8 The average silhouette_score is : 0.37320364236212517
For n_clusters = 9 The average silhouette_score is : 0.37357626448765896
For n_clusters = 10 The average silhouette_score is : 0.3512254783761634
For n_clusters = 11 The average silhouette_score is : 0.3537975626263718
For n_clusters = 12 The average silhouette_score is : 0.3377821186320535
For n_clusters = 13 The average silhouette_score is : 0.3445844338558182
For n_clusters = 14 The average silhouette_score is : 0.3482585781428525
For n_clusters = 15 The average silhouette_score is : 0.35602617516609103
For n_clusters = 16 The average silhouette_score is : 0.34038682116771735
For n_clusters = 17 The average silhouette_score is : 0.3532543974076854
For n_clusters = 18 The average silhouette_score is : 0.354373208680104
For n_clusters = 19 The average silhouette_score is : 0.34464384911914203
For n_clusters = 20 The average silhouette_score is : 0.3467199960345171
For n_clusters = 21 The average silhouette_score is : 0.35117400595280945
For n_clusters = 22 The average silhouette_score is : 0.34985286672210436
For n_clusters = 23 The average silhouette_score is : 0.3388015945675864
For n_clusters = 24 The average silhouette_score is : 0.33945484701421735
For n_clusters = 25 The average silhouette_score is : 0.3432607547441672
For n_clusters = 26 The average silhouette_score is : 0.3455030521752822
For n_clusters = 27 The average silhouette_score is : 0.34067386080958867
For n_clusters = 28 The average silhouette_score is : 0.32948260169084226
For n_clusters = 29 The average silhouette_score is : 0.324373113451849

  0%|          | 0/6 [00:00<?, ?it/s]

Working on : leo, 2019-07-31.

  0%|          | 0/28 [00:00<?, ?it/s]

For n_clusters = 2 The average silhouette_score is : 0.5537258657124402
For n_clusters = 3 The average silhouette_score is : 0.5177407685037151
For n_clusters = 4 The average silhouette_score is : 0.5167720744184553
For n_clusters = 5 The average silhouette_score is : 0.4815125611135174
For n_clusters = 6 The average silhouette_score is : 0.4628011840773116
For n_clusters = 7 The average silhouette_score is : 0.44677692947421815
For n_clusters = 8 The average silhouette_score is : 0.4171614892200843
For n_clusters = 9 The average silhouette_score is : 0.38729088161528974
For n_clusters = 10 The average silhouette_score is : 0.37243951421691646
For n_clusters = 11 The average silhouette_score is : 0.380213143912599
For n_clusters = 12 The average silhouette_score is : 0.3670635692266302
For n_clusters = 13 The average silhouette_score is : 0.34735539138787785
For n_clusters = 14 The average silhouette_score is : 0.3380966453389417
For n_clusters = 15 The average silhouette_score is : 0.34228263725088515
For n_clusters = 16 The average silhouette_score is : 0.3275716815600216
For n_clusters = 17 The average silhouette_score is : 0.3258663980278317
For n_clusters = 18 The average silhouette_score is : 0.3219960575230527
For n_clusters = 19 The average silhouette_score is : 0.330556982313914
For n_clusters = 20 The average silhouette_score is : 0.3252676270008382
For n_clusters = 21 The average silhouette_score is : 0.3307846451150297
For n_clusters = 22 The average silhouette_score is : 0.3195822309736423
For n_clusters = 23 The average silhouette_score is : 0.326465231770175
For n_clusters = 24 The average silhouette_score is : 0.3234850649104876
For n_clusters = 25 The average silhouette_score is : 0.32140712400357774
For n_clusters = 26 The average silhouette_score is : 0.32201787619209943
For n_clusters = 27 The average silhouette_score is : 0.3209781850855842
For n_clusters = 28 The average silhouette_score is : 0.3222617840764394
For n_clusters = 29 The average silhouette_score is : 0.3111084181316166
Working on : leo, 2019-03-28.

  0%|          | 0/28 [00:00<?, ?it/s]

For n_clusters = 2 The average silhouette_score is : 0.5652039307064745
For n_clusters = 3 The average silhouette_score is : 0.526924872537257
For n_clusters = 4 The average silhouette_score is : 0.5239379279701714
For n_clusters = 5 The average silhouette_score is : 0.4961925568052785
For n_clusters = 6 The average silhouette_score is : 0.47059412380663285
For n_clusters = 7 The average silhouette_score is : 0.4517789308888665
For n_clusters = 8 The average silhouette_score is : 0.423384512994583
For n_clusters = 9 The average silhouette_score is : 0.40174825227003436
For n_clusters = 10 The average silhouette_score is : 0.3850894418732941
For n_clusters = 11 The average silhouette_score is : 0.39302650512903176
For n_clusters = 12 The average silhouette_score is : 0.377691706527494
For n_clusters = 13 The average silhouette_score is : 0.3679601889414671
For n_clusters = 14 The average silhouette_score is : 0.35692784866326766
For n_clusters = 15 The average silhouette_score is : 0.3622031160144498
For n_clusters = 16 The average silhouette_score is : 0.3503876256247578
For n_clusters = 17 The average silhouette_score is : 0.34147955506239125
For n_clusters = 18 The average silhouette_score is : 0.34296206449311706
For n_clusters = 19 The average silhouette_score is : 0.34368154255235145
For n_clusters = 20 The average silhouette_score is : 0.3326639956355032
For n_clusters = 21 The average silhouette_score is : 0.32955949332930495
For n_clusters = 22 The average silhouette_score is : 0.3238056320680728
For n_clusters = 23 The average silhouette_score is : 0.3328781795188147
For n_clusters = 24 The average silhouette_score is : 0.33079149989495166
For n_clusters = 25 The average silhouette_score is : 0.329317051575749
For n_clusters = 26 The average silhouette_score is : 0.32447538166064976
For n_clusters = 27 The average silhouette_score is : 0.3281322583791651
For n_clusters = 28 The average silhouette_score is : 0.32946804982253214
For n_clusters = 29 The average silhouette_score is : 0.3257690809829093
Working on : leo, 2019-02-11.

  0%|          | 0/28 [00:00<?, ?it/s]

For n_clusters = 2 The average silhouette_score is : 0.5303977888701271
For n_clusters = 3 The average silhouette_score is : 0.5330102976116967
For n_clusters = 4 The average silhouette_score is : 0.4783306251840546
For n_clusters = 5 The average silhouette_score is : 0.4391254436069971
For n_clusters = 6 The average silhouette_score is : 0.42575635782077553
For n_clusters = 7 The average silhouette_score is : 0.4073990648366254
For n_clusters = 8 The average silhouette_score is : 0.38499838109541684
For n_clusters = 9 The average silhouette_score is : 0.3613124544957026
For n_clusters = 10 The average silhouette_score is : 0.34451985967041115
For n_clusters = 11 The average silhouette_score is : 0.3288394734794644
For n_clusters = 12 The average silhouette_score is : 0.33739410157497585
For n_clusters = 13 The average silhouette_score is : 0.3441156474070476
For n_clusters = 14 The average silhouette_score is : 0.3313715726054466
For n_clusters = 15 The average silhouette_score is : 0.3365373154767988
For n_clusters = 16 The average silhouette_score is : 0.32475442868534937
For n_clusters = 17 The average silhouette_score is : 0.33368878748356534
For n_clusters = 18 The average silhouette_score is : 0.32574742367492737
For n_clusters = 19 The average silhouette_score is : 0.32368833698734006
For n_clusters = 20 The average silhouette_score is : 0.32343737862751903
For n_clusters = 21 The average silhouette_score is : 0.3188849059495862
For n_clusters = 22 The average silhouette_score is : 0.31502790939857545
For n_clusters = 23 The average silhouette_score is : 0.3125631491281781
For n_clusters = 24 The average silhouette_score is : 0.3109823739880931
For n_clusters = 25 The average silhouette_score is : 0.3059011962523963
For n_clusters = 26 The average silhouette_score is : 0.31168505246296835
For n_clusters = 27 The average silhouette_score is : 0.30500211118824283
For n_clusters = 28 The average silhouette_score is : 0.30563834407196744
For n_clusters = 29 The average silhouette_score is : 0.30539034274290283
Working on : leo, 2018-09-20.

  0%|          | 0/28 [00:00<?, ?it/s]

For n_clusters = 2 The average silhouette_score is : 0.5303765573565244
For n_clusters = 3 The average silhouette_score is : 0.506647014614286
For n_clusters = 4 The average silhouette_score is : 0.489517974998391
For n_clusters = 5 The average silhouette_score is : 0.48127873193593995
For n_clusters = 6 The average silhouette_score is : 0.4551861980473739
For n_clusters = 7 The average silhouette_score is : 0.42838128524178654
For n_clusters = 8 The average silhouette_score is : 0.40240360948455717
For n_clusters = 9 The average silhouette_score is : 0.3807123138810468
For n_clusters = 10 The average silhouette_score is : 0.3604613090845088
For n_clusters = 11 The average silhouette_score is : 0.3436523534532629
For n_clusters = 12 The average silhouette_score is : 0.3320747627640658
For n_clusters = 13 The average silhouette_score is : 0.33308432363315504
For n_clusters = 14 The average silhouette_score is : 0.33970719585904346
For n_clusters = 15 The average silhouette_score is : 0.33838370061786943
For n_clusters = 16 The average silhouette_score is : 0.32242723444251864
For n_clusters = 17 The average silhouette_score is : 0.3301132256752443
For n_clusters = 18 The average silhouette_score is : 0.3269090373511289
For n_clusters = 19 The average silhouette_score is : 0.3297883997851132
For n_clusters = 20 The average silhouette_score is : 0.31579964175095476
For n_clusters = 21 The average silhouette_score is : 0.32102294205578547
For n_clusters = 22 The average silhouette_score is : 0.32523668541943557
For n_clusters = 23 The average silhouette_score is : 0.31647002952223985
For n_clusters = 24 The average silhouette_score is : 0.3184283823685663
For n_clusters = 25 The average silhouette_score is : 0.31731258731323136
For n_clusters = 26 The average silhouette_score is : 0.31157506599560203
For n_clusters = 27 The average silhouette_score is : 0.31871998992912987
For n_clusters = 28 The average silhouette_score is : 0.3115433881732042
For n_clusters = 29 The average silhouette_score is : 0.31670428493515945
Working on : leo, 2018-07-13.

  0%|          | 0/28 [00:00<?, ?it/s]

For n_clusters = 2 The average silhouette_score is : 0.5770775116128227
For n_clusters = 3 The average silhouette_score is : 0.5399930541104823
For n_clusters = 4 The average silhouette_score is : 0.5052394102224822
For n_clusters = 5 The average silhouette_score is : 0.48075078602488874
For n_clusters = 6 The average silhouette_score is : 0.45526850728131896
For n_clusters = 7 The average silhouette_score is : 0.43226460854840604
For n_clusters = 8 The average silhouette_score is : 0.414915883032894
For n_clusters = 9 The average silhouette_score is : 0.39669300717981393
For n_clusters = 10 The average silhouette_score is : 0.4033361407068592
For n_clusters = 11 The average silhouette_score is : 0.390160235211496
For n_clusters = 12 The average silhouette_score is : 0.40192663962505204
For n_clusters = 13 The average silhouette_score is : 0.40118846203627984
For n_clusters = 14 The average silhouette_score is : 0.3875015482465485
For n_clusters = 15 The average silhouette_score is : 0.39162079666575084
For n_clusters = 16 The average silhouette_score is : 0.3862947493472822
For n_clusters = 17 The average silhouette_score is : 0.3769140048838302
For n_clusters = 18 The average silhouette_score is : 0.37805995295045514
For n_clusters = 19 The average silhouette_score is : 0.3700782242417614
For n_clusters = 20 The average silhouette_score is : 0.3688268631641776
For n_clusters = 21 The average silhouette_score is : 0.3566628038056517
For n_clusters = 22 The average silhouette_score is : 0.357398020086345
For n_clusters = 23 The average silhouette_score is : 0.3463606903289164
For n_clusters = 24 The average silhouette_score is : 0.3551371578616615
For n_clusters = 25 The average silhouette_score is : 0.3499068150414987
For n_clusters = 26 The average silhouette_score is : 0.34171357718862133
For n_clusters = 27 The average silhouette_score is : 0.3449751936375776
For n_clusters = 28 The average silhouette_score is : 0.3459916545375308
For n_clusters = 29 The average silhouette_score is : 0.3424678990514013
Working on : leo, 2018-06-06.

  0%|          | 0/28 [00:00<?, ?it/s]

For n_clusters = 2 The average silhouette_score is : 0.5026712292122081
For n_clusters = 3 The average silhouette_score is : 0.5204076376663338
For n_clusters = 4 The average silhouette_score is : 0.4930681188022711
For n_clusters = 5 The average silhouette_score is : 0.47433821590270814
For n_clusters = 6 The average silhouette_score is : 0.45318465731011304
For n_clusters = 7 The average silhouette_score is : 0.4264582747356895
For n_clusters = 8 The average silhouette_score is : 0.409395488173577
For n_clusters = 9 The average silhouette_score is : 0.39060635412536227
For n_clusters = 10 The average silhouette_score is : 0.3802600529763615
For n_clusters = 11 The average silhouette_score is : 0.3864671495205191
For n_clusters = 12 The average silhouette_score is : 0.3707382391134763
For n_clusters = 13 The average silhouette_score is : 0.3553489614160111
For n_clusters = 14 The average silhouette_score is : 0.3583010107783304
For n_clusters = 15 The average silhouette_score is : 0.37103493490091854
For n_clusters = 16 The average silhouette_score is : 0.37614984261874224
For n_clusters = 17 The average silhouette_score is : 0.3687921656493602
For n_clusters = 18 The average silhouette_score is : 0.3552555802928379
For n_clusters = 19 The average silhouette_score is : 0.3457672637245607
For n_clusters = 20 The average silhouette_score is : 0.35426144357962386
For n_clusters = 21 The average silhouette_score is : 0.3567554797811821
For n_clusters = 22 The average silhouette_score is : 0.34485103761343305
For n_clusters = 23 The average silhouette_score is : 0.33469031872937566
For n_clusters = 24 The average silhouette_score is : 0.3309631948825118
For n_clusters = 25 The average silhouette_score is : 0.3269364528850026
For n_clusters = 26 The average silhouette_score is : 0.334593285837869
For n_clusters = 27 The average silhouette_score is : 0.33109577914116484
For n_clusters = 28 The average silhouette_score is : 0.3343177339557132
For n_clusters = 29 The average silhouette_score is : 0.32382788016835334
Wall time: 33min 30s

In [9]:
sil_df.head()

  location survey_date  k  silhouette_mean
0      mar  2019-05-16  2         0.686208
1      mar  2019-05-16  3         0.513965
2      mar  2019-05-16  4         0.542803
3      mar  2019-05-16  5         0.508383
4      mar  2019-05-16  6         0.474671

##  Sub-optimal k

Find sub-optimal k by searching inflexion points where an additional cluster do not considerably degrade the overall clustering performance.

In [10]:
opt_k=get_opt_k(sil_df, sigma=0 )
opt_k

{'leo_2018-06-06': 10,
 'leo_2018-07-13': 9,
 'leo_2018-09-20': 12,
 'leo_2019-02-11': 11,
 'leo_2019-03-28': 10,
 'leo_2019-07-31': 10,
 'mar_2018-06-01': 5,
 'mar_2018-06-21': 7,
 'mar_2018-07-27': 5,
 'mar_2018-09-25': 11,
 'mar_2018-11-13': 3,
 'mar_2018-12-11': 11,
 'mar_2019-02-05': 10,
 'mar_2019-03-13': 3,
 'mar_2019-05-16': 3}

If we are not satisfied with the sub-optimal k returned by the algorithm, we can manually specify each survey k
by defining a dictionary.

In [11]:
# Based on our observations on a dataset comprising 87 surveys, 10 clusters (k=10) is generally a good tradeoff.

opt_k={'leo_2018-06-06': 10,
 'leo_2018-07-13': 10,
 'leo_2018-09-20': 10,
 'leo_2019-02-11': 10,
 'leo_2019-03-28': 10,
 'leo_2019-07-31': 10,
 'mar_2018-06-01': 10,
 'mar_2018-06-21': 10,
 'mar_2018-07-27': 10,
 'mar_2018-09-25': 10,
 'mar_2018-11-13': 10,
 'mar_2018-12-11': 10,
 'mar_2019-02-05': 10,
 'mar_2019-03-13': 10,
 'mar_2019-05-16': 10}

opt_k

{'leo_2018-06-06': 10,
 'leo_2018-07-13': 10,
 'leo_2018-09-20': 10,
 'leo_2019-02-11': 10,
 'leo_2019-03-28': 10,
 'leo_2019-07-31': 10,
 'mar_2018-06-01': 10,
 'mar_2018-06-21': 10,
 'mar_2018-07-27': 10,
 'mar_2018-09-25': 10,
 'mar_2018-11-13': 10,
 'mar_2018-12-11': 10,
 'mar_2019-02-05': 10,
 'mar_2019-03-13': 10,
 'mar_2019-05-16': 10}

or, update one value only. For instance, in mar_2019-05-16 dataset, it is unlikely that 3 clusters are enough.<br>
So, we replace only that value with 10.

In [12]:
opt_k['mar_2019-05-16']=10
opt_k

{'leo_2018-06-06': 10,
 'leo_2018-07-13': 10,
 'leo_2018-09-20': 10,
 'leo_2019-02-11': 10,
 'leo_2019-03-28': 10,
 'leo_2019-07-31': 10,
 'mar_2018-06-01': 10,
 'mar_2018-06-21': 10,
 'mar_2018-07-27': 10,
 'mar_2018-09-25': 10,
 'mar_2018-11-13': 10,
 'mar_2018-12-11': 10,
 'mar_2019-02-05': 10,
 'mar_2019-03-13': 10,
 'mar_2019-05-16': 10}

## Optimised K-Means clustering

With the sub-optimal k dictionary and keeping the same feature set, we finally cluster the dataset.

In [13]:
feature_set=["band1","band2","band3"]
data_classified=kmeans_sa(data_merged,opt_k, feature_set=feature_set)

  0%|          | 0/2 [00:00<?, ?it/s]

  0%|          | 0/9 [00:00<?, ?it/s]

  0%|          | 0/6 [00:00<?, ?it/s]

In [14]:
data_classified=pd.merge(data_classified[["point_id","label_k"]],data_merged, how="left", on="point_id", validate="one_to_one")
data_classified

,point_id,label_k,distance,z,tr_id,raw_date,coordinates,location,survey_date,x,y,geometry,band1,band2,band3,slope,curve
0,67143080l2610320eo00,3,0.2,1.105616,47,20180606,POINT (299873.4167173313 5773731.881880409),leo,2018-06-06,299873.4167173313,5773731.881880409,POINT (299873.417 5773731.882),141.0,142.0,132.0,-0.006003,0.002122
1,67142080l2670630eo00,3,0.3,1.101189,47,20180606,POINT (299873.516093276 5773731.893034852),leo,2018-06-06,299873.51609327603,5773731.893034852,POINT (299873.516 5773731.893),148.0,148.0,143.0,-0.003264,0.001769
2,67142080l2600940eo00,3,0.4,1.099089,47,20180606,POINT (299873.6154692209 5773731.904189295),leo,2018-06-06,299873.61546922085,5773731.904189295,POINT (299873.615 5773731.904),140.0,142.0,129.0,-0.002465,0.001138
3,67146080l2650750eo00,6,0.5,1.096259,47,20180606,POINT (299873.7148451657 5773731.915343738),leo,2018-06-06,299873.71484516567,5773731.915343738,POINT (299873.715 5773731.915),162.0,165.0,155.0,-0.000988,0.001301
4,67141080l2600560eo00,3,0.6,1.097113,47,20180606,POINT (299873.8142211105 5773731.92649818),leo,2018-06-06,299873.8142211105,5773731.92649818,POINT (299873.814 5773731.926),152.0,154.0,137.0,0.000136,0.001117
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234347,60100091m2529300ar75,2,79.5,8.513124,0,20190516,POINT (731433.4192254023 5705160.105556185),mar,2019-05-16,731433.4192254023,5705160.105556185,POINT (731433.419 5705160.106),40.0,59.0,28.0,-0.001998,-0.004390
234348,60109091m2599500ar76,7,79.6,8.510223,0,20190516,POINT (731433.3198014995 5705160.116274748),mar,2019-05-16,731433.3198014995,5705160.116274748,POINT (731433.320 5705160.116),70.0,98.0,59.0,-0.009601,-0.125342
234349,60109091m2569800ar77,6,79.7,8.493922,0,20190516,POINT (731433.2203775968 5705160.12699331),mar,2019-05-16,731433.2203775968,5705160.12699331,POINT (731433.220 5705160.127),58.0,89.0,49.0,-0.252682,-0.117465
234350,60109091m2549100ar78,7,79.8,8.004859,0,20190516,POINT (731433.1209536941 5705160.137711871),mar,2019-05-16,731433.1209536941,5705160.137711871,POINT (731433.121 5705160.138),75.0,105.0,66.0,-0.244532,-1.599625
234351,60109091m2519400ar79,6,79.9,8.004859,0,20190516,POINT (731433.0215297914 5705160.148430434),mar,2019-05-16,731433.0215297914,5705160.148430434,POINT (731433.022 5705160.148),47.0,80.0,42.0,-3.451932,-1.603700

### GOOD!

save the __data_classified__ dataframe as a CSV file and head to the __Example_3_Labels_correction_and_multitemporal_table notebook__.

In [15]:
#data_classified.to_csv(r"C:\my_packages\doc_data\labels\data_classified.csv", index=False)

___